@import "grid";
@import "reset";
@import url( 'common.css');
@import url( 'https://fonts.googleapis.com/css?family=Poppins:500,700');

body,
html {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

    h1 {
        font-weight: 700;
        z-index: 2;
    }

    p {
        z-index: 3;
    }
}

.main {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 2s cubic-bezier(0.2, .84, .5, 1); //smoothscrollSpeed
    transform-origin: 0 0;
    transform: translate3d(0px, 0px, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.top-row {
    z-index: 3;
}

.play-button {
    color: #fff;
}

.item-row {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -45%);
    z-index: 2;
}

.item-row1 {
    @extend .item-row;
    z-index: 2;
}

.sidebar {
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    padding: 0;
    margin: 0;
}

button:focus {
    outline: 0;
}
@mixin item($gradient-color-start, $gradient-color-stop, $image) {
    height: 100vh;
    background-image: url($image);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-color: $gradient-color-start;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}
@mixin social-btn($imageUrl) {
    position: relative;
    width: 60px;
    height: 60px;
    margin-top: 20px;
    background-color: #ffffff;
    background-image: url($imageUrl);
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: 25%;
    background-position: 40%;
}
@media (min-width: 768px) {
    .social-floating-menu {
        position: fixed;
        top: 20px;
        right: 60px;
    }

    .sidebar {
        position: fixed !important;
        height: 100%;
        width: 100px;
        z-index: 10001;
        display: block;
        background-color: #ffffff;
        -webkit-box-shadow: 10px 0 30px -1px rgba(0,0,0,0.4);
        -moz-box-shadow: 10px 0 30px -1px rgba(0,0,0,0.4);
        box-shadow: 10px 0 30px -1px rgba(0,0,0,0.4);
    }

    .social-menu {
        margin-top: 20px;
        margin-right: 40px;
    }

    .logo {
        img {
            position: absolute;
            height: 70%;
            top: 50%;
            padding: 15%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        margin-bottom: 200%;
        position: relative;
        width: 100%;
        height: 10%;
    }

    .menu-burger {
        padding: 10%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -65%);
    }

    #item-1-gradient {
        position: absolute;
        height: 100vh;
        z-index: 1;
        width: 100vw;
        top: 0;
    }

    #item-2-gradient {
        position: absolute;
        height: 100vh;
        z-index: 1;
        width: 100vw;
        top: 100vh;
    }

    #item-3-gradient {
        position: absolute;
        height: 100vh;
        z-index: 1;
        width: 100vw;
        top: 200vh;
    }

    .item-content, .item-content1 {
        position: relative;

        h1 {
            margin-left: 323px;
            margin-top: 10%;
            letter-spacing: 0;
            font-size: 60px;
            color: #ffffff;
        }

        p {
            color: #ffffff;
            letter-spacing: 0;
            margin-left: 323px;
            font-size: 14px;
            clear: both;
        }

        svg {
            position: relative;
            left: 0;
            width: 100%;
            height: 70%;
            top: 50%;
            transform: translate(0%, -50%);
            fill:#fff;
        }

        .button-text {
          display:inline-block;
            text-align: left;
            position: relative;
            padding: 0 0 0 5px;
            height: 100%;
            top: 50%;
            transform: translate(0%, 12%);
        }

        .button-text-top {
          display:inline-block;
            font-size: 10px;
        }

        .button-text-bottom {
          display:inline-block;
            font-size: 23px;
            margin-top: 12px;
        }

        button {
            margin-left: 323px;
            margin-top: 10px;
            color: #fff;
            cursor: pointer;
            width: 245px;
            height: 80px;
            background-color: rgba(255, 255, 255, 0.04);
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid white;
            border-radius: 4px 4px 4px 4px;
            -webkit-box-shadow: 6px 10px 31px -9px rgba(0,0,0,0.3);
            -moz-box-shadow: 6px 10px 31px -9px rgba(0,0,0,0.3);
            box-shadow: 6px 10px 31px -9px rgba(0,0,0,0.3);
            transition: box-shadow 0.3s ease-in-out;
        }

        button:hover {

          -webkit-box-shadow: 20px 20px 31px -9px rgba(0,0,0,0.4);
          -moz-box-shadow: 20px 20px 31px -9px rgba(0,0,0,0.4);
          box-shadow: 20px 20px 31px -9px rgba(0,0,0,0.4);
        }
    }

    .item1 {
        @include item(rgba(250, 101, 63,1),rgba(250, 101, 63,0.7), "../img/item1.png");
    }

    .item2 {
        @include item(rgba(4, 106, 192,1),rgba(4, 106, 192,0.7), "../img/item2.png");
    }

    .item3 {
        @include item(rgba(87, 20, 139,1),rgba(87, 20, 139,0.7), "../img/item3.png");
    }

    .video-thumbnail1,
    .video-thumbnail2,
    .video-thumbnail3 {
        cursor: pointer;
        position: relative;
        height: 100%;
        width: 100% + 40;
        left: 35%;
        z-index: 10;
        transform: translate(-50%, 0%);
        -webkit-box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
        -moz-box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
        box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
    }

    .shadow-div1 {
        background: rgba(242, 242, 242, 0.36);
        position: relative;
        padding: 10%;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 35%;
        z-index: 9;
        transform: translate(-50%, 270%);
        -webkit-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
    }

    .shadow-div2 {
        background: rgba(242, 242, 242, 0.36);
        position: relative;
        padding: 10%;
        height: 100%;
        width: 100% - 20;
        top: 50%;
        left: 35%;
        z-index: 8;
        transform: translate(-50%, 200%);
        -webkit-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
    }

    .video-play-button {
        position: absolute;
        z-index: 10;
        top: 60%;
        left: 35%;
        transform: translate(-50%, -80%);
        box-sizing: content-box;
        display: block;
        border-radius: 50%;
        padding: 18px 24px 18px 28px;
    }

    .video-play-button:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 100px;
        height: 100px;
        background: rgba(255,255,255,0.7);
        border-radius: 50%;
    }

    .video-play-button:after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 60px;
        height: 60px;
        background: #ffffff;
        border-radius: 50%;
        transition: all 200ms;
        -webkit-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
    }

    .video-play-button:hover:after {
        background-color: #ffffff * 1.4;
    }

    .video-play-button img {
        position: relative;
        z-index: 3;
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .video-play-button span {
        display: block;
        position: relative;
        z-index: 3;
        width: 0;
        height: 0;
        border-left: 15px solid #000;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
    }
    @keyframes pulse-border {
        0% {
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.8);
            opacity: 1;
        }

        100% {
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.25);
            opacity: 0;
        }
    }

    iframe {
        position: relative;
        background-color: #fff;
        left: 35%;
        z-index: 10;
        transform: translate(-50%, 0%);
        -webkit-box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
        -moz-box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
        box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
    }

    .facebook-btn {
        @include social-btn("../img/facebook1.png");
        background-position: 60%;
    }

    .twitter-btn {
        @include social-btn("../img/twitter1.png");
    }

    .facebook-btn:hover {
        background-color: #ffffff * 1.2;
    }

    .language-btn {
        padding: 0;
    }

    .cd-dropdown {
        color: #000;
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -o-perspective: 800px;
        -ms-perspective: 800px;
        perspective: 800px;
    }

    .cd-dropdown > span {
        color: #000;
        background-image: url("../img/arrow.png");
        background-size: 20%;
        background-repeat: no-repeat;
        background-position: 80% 53%;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        -o-transition: -o-transform 0.3s;
        -ms-transition: -ms-transform 0.3s;
        transition: transform 0.3s;
    }

    .cd-dropdown > span:active {
        color: #000;
        -webkit-transform: rotateX(60deg);
        -moz-transform: rotateX(60deg);
        -o-transform: rotateX(60deg);
        -ms-transform: rotateX(60deg);
        transform: rotateX(60deg);
    }

    .cd-dropdown > span {
        color: #000;
        -webkit-box-shadow: 0 4px 0 0 rgba(0,0,0,0.41);
        -moz-box-shadow: 0 4px 0 0 rgba(0,0,0,0.41);
        box-shadow: 0 5px 25px -7px rgba(0,0,0,0.41);
    }

    .cd-active {
        color: #000;
        -webkit-box-shadow: 0 4px 0 0 rgba(0,0,0,0.41);
        -moz-box-shadow: 0 4px 0 0 rgba(0,0,0,0.41);
        box-shadow: 0 5px 25px -7px rgba(0,0,0,0.41);
    }

    .cd-dropdown ul {
        position: absolute;
        top: 0;
        width: 50%;
    }

    .cd-dropdown ul li {
        position: absolute;
        width: 50%;
    }

    .cd-active.cd-dropdown > span {
        color: #000;
        color: #f8b161;
    }

    .cd-active.cd-dropdown > span,
    .cd-active.cd-dropdown ul li span {
        color: #000;
        // -webkit-box-shadow: 0 4px 0 0 rgba(0,0,0,0.41);
        // -moz-box-shadow: 0 4px 0 0 rgba(0,0,0,0.41);
        // box-shadow: 0 5px 15px -7px rgba(0,0,0,0.41);
    }

    .cd-active.cd-dropdown ul li span {
        -webkit-transition: all 0.2s linear 0s;
        -moz-transition: all 0.2s linear 0s;
        -ms-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
    }

    .cd-active.cd-dropdown ul li span:hover {
        // background: #f8b161;
        // color: #fff;
    }
}
@media (max-width: 576px) {
    .sidebar {
        position: fixed;
        top: 0;
        width: 100%;
        height: 13%;
        z-index: 1000;
        display: block;
        background-color: #ffffff;
    }

    .facebook-btn {
        display: none;
    }

    .twitter-btn {
        display: none;
    }

    .language-btn {
        position: fixed;
        top: -10px;
        right: 0;
        z-index: 10555;
    }

    #item-1-gradient {
        margin-top: 13%;
        position: absolute;
        height: 100vh;
        z-index: 1;
        width: 100vw;
        top: 0;
    }

    #item-2-gradient {
        position: absolute;
        height: 100vh;
        z-index: 1;
        width: 100vw;
        top: 100vh;
    }

    #item-3-gradient {
        position: absolute;
        height: 100vh;
        z-index: 1;
        width: 100vw;
        top: 200vh;
    }

    .logo {
        img {
            position: absolute;
            height: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 8%;
        }
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        width: 20%;
        height: 100%;
    }

    .menu-burger {
        position: relative;
        top: -80%;
        left: 0;
    }

    .item-content, .item-content1 {
        position: relative;

        h1 {
            letter-spacing: 0;
            font-size: 2em;
            text-align: center;
            color: #ffffff;
        }

        p {
            color: #ffffff;
            letter-spacing: 0;
            text-align: center;
            font-size: 14px;
            clear: both;
        }

        button {
            margin-top: 10px;
            cursor: pointer;
            background-image: url("../img/play1.png");
            width: 50%;
            top: 50%;
            left: 50%;
            transform: translate(50%, 0%);
            height: 70px;
            background-color: rgba(255, 255, 255, 0.04);
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
            border: 1px solid white;
            border-radius: 10px 10px 10px 10px;
            -webkit-box-shadow: 6px 10px 31px -9px rgba(0,0,0,0.3);
            -moz-box-shadow: 6px 10px 31px -9px rgba(0,0,0,0.3);
            box-shadow: 6px 10px 31px -9px rgba(0,0,0,0.3);
        }

        button:hover {
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    .item1 {
        @include item(rgba(250, 101, 63,1),rgba(250, 101, 63,0.7), "../img/item1.png");
    }

    .item2 {
        @include item(rgba(4, 106, 192,1),rgba(4, 106, 192,0.7), "../img/item2.png");
    }

    .item3 {
        @include item(rgba(87, 20, 139,1),rgba(87, 20, 139,0.7), "../img/item3.png");
    }

    .video-thumbnail1,
    .video-thumbnail2,
    .video-thumbnail3 {
        cursor: pointer;
        position: relative;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        z-index: 10;
        transform: translate(-50%, 30%);
        -webkit-box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
        -moz-box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
        box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
    }

    .shadow-div1 {
        background: rgba(242, 242, 242, 0.36);
        position: relative;
        padding: 10%;
        height: 100%;
        width: 100%-20;
        top: 50%;
        left: 50%;
        z-index: 9;
        transform: translate(-50%, -10%);
        -webkit-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
    }

    .shadow-div2 {
        background: rgba(242, 242, 242, 0.36);
        position: relative;
        padding: 10%;
        height: 100%;
        width: 100% - 40;
        top: 50%;
        left: 50%;
        z-index: 8;
        transform: translate(-50%, -90%);
        -webkit-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
    }

    .video-play-button {
        position: absolute;
        z-index: 10;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -30%);
        box-sizing: content-box;
        display: block;
        width: 32px;
        height: 44px;
        border-radius: 50%;
        padding: 18px 20px 18px 28px;
    }

    .video-play-button:before {
        content: "";
        position: absolute;
        z-index: 0;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 100px;
        height: 100px;
        background: rgba(255,255,255,0.7);
        border-radius: 50%;
    }

    .video-play-button:after {
        content: "";
        position: absolute;
        z-index: 1;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: block;
        width: 60px;
        height: 60px;
        background: #ffffff;
        border-radius: 50%;
        transition: all 200ms;
        -webkit-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        -moz-box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
        box-shadow: 0 0 39px -6px rgba(0,0,0,0.5);
    }

    .video-play-button:hover:after {
        background-color: #ffffff * 1.4;
    }

    .video-play-button img {
        position: relative;
        z-index: 3;
        max-width: 100%;
        width: auto;
        height: auto;
    }

    .video-play-button span {
        display: block;
        position: relative;
        z-index: 3;
        width: 0;
        height: 0;
        border-left: 15px solid #000;
        border-top: 9px solid transparent;
        border-bottom: 9px solid transparent;
    }
    @keyframes pulse-border {
        0% {
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(0.8);
            opacity: 1;
        }

        100% {
            transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.25);
            opacity: 0;
        }
    }

    iframe {
        position: relative;
        left: 35%;
        z-index: 10;
        transform: translate(-50%, 0%);
        -webkit-box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
        -moz-box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
        box-shadow: 0 0 99px -6px rgba(0,0,0,0.78);
    }

    .facebook-btn {
        @include social-btn("../img/facebook1.png");
    }

    .twitter-btn {
        @include social-btn("../img/twitter1.png");
    }

    .facebook-btn:hover {
        background-color: #ffffff * 1.2;
    }

    .language-btn {
        padding: 0;
    }

    .cd-dropdown {
        -webkit-perspective: 800px;
        -moz-perspective: 800px;
        -o-perspective: 800px;
        -ms-perspective: 800px;
        perspective: 800px;
    }

    .cd-dropdown > span {
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 0;
        -moz-transform-origin: 50% 0;
        -o-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transition: -webkit-transform 0.3s;
        -moz-transition: -moz-transform 0.3s;
        -o-transition: -o-transform 0.3s;
        -ms-transition: -ms-transform 0.3s;
        transition: transform 0.3s;
    }

    .cd-dropdown > span:active {
        -webkit-transform: rotateX(60deg);
        -moz-transform: rotateX(60deg);
        -o-transform: rotateX(60deg);
        -ms-transform: rotateX(60deg);
        transform: rotateX(60deg);
    }

    .cd-dropdown ul {
        position: absolute;
        top: 0;
        width: 50%;
    }

    .cd-dropdown ul li {
        position: absolute;
        width: 50%;
    }

    .cd-active.cd-dropdown > span {
        color: #f8b161;
    }

    .cd-active.cd-dropdown ul li span {
        -webkit-transition: all 0.2s linear 0s;
        -moz-transition: all 0.2s linear 0s;
        -ms-transition: all 0.2s linear 0s;
        -o-transition: all 0.2s linear 0s;
        transition: all 0.2s linear 0s;
    }

    .cd-active.cd-dropdown ul li span:hover {
        background: #f8b161;
        color: #fff;
    }
}

.shine-effect {
    position: relative;
    overflow: hidden;
}

.shine-effect:after {
    content: "";
    position: absolute;
    top: -490%;
    left: -340%;
    width: 320%;
    height: 400%;
    opacity: 0;
    transform: rotate(27deg);
    background: linear-gradient( to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0.0) 100% );
}
/* Hover state - trigger effect */
.shine-effect:hover:after {
    opacity: 1;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 1.3s, 1.3s, 0.15s;
    transition-timing-function: ease;
}
/* Active state */
.shine-effect:active:after {
    opacity: 0;
}
@media screen and (min-width: 1800px) {
  .item-content{
    h1{
      margin-top: 15% !important;
    }
  }
}
